.About {
  color: rgb(230, 227, 235);
  margin: 0 auto;
}

h3 {
  color: rgb(203, 92, 92);
}

.highlight {
  color: #ff0000; /* Change this to the desired color */
  display: inline;
}

body {
  background-color: rgb(25, 24, 27);
}

.container {
  width: 1200px !important;
  padding: 0 !important;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 992px) and (max-width: 1439px) {
    max-width: 1279px !important;
    padding: 0 !important;
    margin: 0 80px !important;
    width: auto !important;
  }

  @media screen and (max-width: 991px) {
    max-width: 959px !important;
    margin: 0 16px !important;
    padding: 0 !important;
    width: auto !important;
  }
}

.gradient-cards {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center align items horizontally */
}

.card {
  max-width: 1000px; /* Set maximum width */
  width: 100%;
  margin-bottom: 20px; /* Add some space between the cards */
}

.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
  img {
    margin-bottom: 32px;
  }
}

.bg-green-box {
  position: relative;
}

.bg-green-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-green-box::after {
  background: linear-gradient(71deg, #0d1212, #a03d3d, #0d1212);
}
.card-title1 {
  font-weight: 600;
  color: rgba(220, 85, 85, 0.847);
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
  margin-left: -260px;
}
@media screen and (max-width: 768px) {
  .card-title1 {
    margin-left: 0; /* Adjust margin for smaller screens */
  }
}

.card-title {
  font-weight: 600;
  color: rgba(220, 85, 85, 0.847);
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  max-width: 1000px;
}
