.About {
  color: rgb(230, 227, 235);
}

h3 {
  color: rgb(203, 92, 92);
}

.highlight {
  color: #ff0000; /* Change this to the desired color */
  display: inline;
}

body {
  background-color: rgb(25, 24, 27);
}

.container {
  width: 1200px !important;
  padding: 0 !important;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 992px) and (max-width: 1439px) {
    max-width: 1279px !important;
    padding: 0 !important;
    margin: 0 80px !important;
    width: auto !important;
  }

  @media screen and (max-width: 991px) {
    max-width: 959px !important;
    margin: 0 16px !important;
    padding: 0 !important;
    width: auto !important;
  }
}

.gradient-cards {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center align items horizontally */
}

.card {
  max-width: 1000px; /* Set maximum width */
  width: 100%;
  margin-bottom: 20px; /* Add some space between the cards */
}

.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
}

.bg-green-box {
  position: relative;
}

.bg-green-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-green-box::after {
  background: linear-gradient(71deg, #0d1212, #a03d3d, #0d1212);
}
.card-title1 {
  font-weight: 600;
  color: rgba(220, 85, 85, 0.847);
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}
@media screen and (max-width: 768px) {
  .card-title1 {
    margin-left: 0; /* Adjust margin for smaller screens */
  }
}

.card-title {
  font-weight: 600;
  color: rgba(220, 85, 85, 0.847);
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  max-width: 1000px;
}

.letter-image {
  position: absolute;
  top: -3%;
  left: 60%;
  width: 100px;
  height: 100px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
}

.animated-mail {
  position: absolute;
  height: 150px;
  width: 200px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;

  .body {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 200px;
    border-color: transparent transparent #e95f55 transparent;
    z-index: 2;
  }

  .top-fold {
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 100px 0 100px;
    -webkit-transform-origin: 50% 0%;
    -webkit-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    -moz-transform-origin: 50% 0%;
    -moz-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    transform-origin: 50% 0%;
    transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    border-color: #cf4a43 transparent transparent transparent;
    z-index: 2;
  }

  .back-fold {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: #cf4a43;
    z-index: 0;
  }

  .left-fold {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent #e15349;
    z-index: 2;
  }

  .letter {
    left: 20px;
    bottom: 0px;
    position: absolute;
    width: 160px;
    height: 60px;
    background: rgb(224, 218, 218);
    z-index: 1;
    overflow: hidden;
    -webkit-transition: 0.4s 0.2s;
    -moz-transition: 0.4s 0.2s;
    transition: 0.4s 0.2s;

    .letter-border {
      height: 10px;
      width: 100%;
      background: repeating-linear-gradient(
        -45deg,
        #cb5a5e,
        #cb5a5e 8px,
        transparent 8px,
        transparent 18px
      );
    }

    .letter-title {
      margin-top: 10px;
      margin-left: 5px;
      height: 10px;
      width: 40%;
      background: #cb5a5e;
    }
    .letter-context {
      margin-top: 10px;
      margin-left: 5px;
      height: 10px;
      width: 20%;
      background: #cb5a5e;
    }

    .letter-stamp {
      margin-top: 30px;
      margin-left: 120px;
      border-radius: 100%;
      height: 30px;
      width: 30px;
      background: #cb5a5e;
      opacity: 0.3;
    }
  }
}

.shadow {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 400px;
  height: 30px;
  transition: 0.4s;
  transform: translateX(-50%);
  -webkit-transition: 0.4s;
  -webkit-transform: translateX(-50%);
  -moz-transition: 0.4s;
  -moz-transform: translateX(-50%);

  border-radius: 100%;
  background: radial-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
}

.letter-image:hover {
  .animated-mail {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
  }

  .animated-mail .top-fold {
    transition: transform 0.4s, z-index 0.2s;
    transform: rotateX(180deg);
    -webkit-transition: transform 0.4s, z-index 0.2s;
    -webkit-transform: rotateX(180deg);
    -moz-transition: transform 0.4s, z-index 0.2s;
    -moz-transform: rotateX(180deg);
    z-index: 0;
  }

  .animated-mail .letter {
    height: 180px;
  }

  .shadow {
    width: 250px;
  }
}

@media only screen and (max-width: 768px) {
  .letter-image {
    width: 120px; /* Adjust width for smaller screens */
    height: 45px; /* Adjust height for smaller screens */
    left: 280px; /* Adjust left position for smaller screens */
    top: -180px; /* Adjust bottom position for smaller screens */
  }
}

.card-description ul {
  list-style-position: inside;
  text-align: left;
}

.prize-pool-image {
  width: 350px;
  height: auto;

  position: absolute;
  top: 50%; /* Move the image down by 50% of the container's height */
  left: 50%; /* Move the image right by 50% of the container's width */
  transform: translate(
    -50%,
    -50%
  ); /* Center the image both horizontally and vertically */
  margin-top: 30px 0; /* Adjust margin as needed */
  margin-bottom: 30px 0; /* Adjust margin as needed */
}

.card-description-prize {
  font-weight: 800;
  line-height: 32px;
  margin-top: 70px;
  color: hsla(0, 85%, 61%, 0.672);
  font-size: 26px;
  max-width: 1000px;

  transform: translate(18%, 0%);
}

@media only screen and (max-width: 500px) {
  .prize-pool-image {
    width: 230px;
    height: auto;

    position: absolute;
    top: 37%; /* Move the image down by 50% of the container's height */
    left: 50%; /* Move the image right by 50% of the container's width */
    transform: translate(
      -50%,
      10%
    ); /* Center the image both horizontally and vertically */
  }
  .card-description-prize {
    font-weight: 800;
    line-height: 32px;
    margin-top: 70px;
    color: hsla(0, 87%, 63%, 0.564);
    font-size: 20px;
    max-width: 1000px;

    transform: translate(0%, 0%);
  }
}
