.Section {
  justify-content: center;
  max-width: 1000px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  position: relative;
  display: block;
  margin-bottom: 60px;
}

h2 {
  color: #ea4335;
}
